.about {
  text-align: center;
  margin-top: 10rem;
  background: url("../images/about_background.svg") top 0rem center;
  background-repeat: no-repeat;
}

.about > h1 {
  padding: 1.5rem 0;
  font-size: 5rem;
  font-weight: 400;
}

.about__text {
  width: 30%;
  margin: 0 auto;
}

.about__text > p {
  font-size: 1.5rem;
  line-height: 150%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.about__text > a {
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  border: none;
  background-image: linear-gradient(to bottom right, #47b5ff, #5f48ff);
  color: white;
  margin: 0 auto;
  margin-top: 3rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.about__text > a:hover {
  transform: scale(1.04) translateY(-2px);
  box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 750px) {
  .about {
    margin-top: 5rem;
  }

  .about > h1 {
    font-size: calc(1rem + 6vw);
  }

  .about__text {
    width: 70%;
  }

  .about__text > p {
    font-size: calc(0.5rem + 2.2vw);
  }

  .about__text > a {
    font-size: calc(0.5rem + 2vw);
    width: 30vw;
    height: 2.4rem;
  }
}
