.contact {
  margin-top: 7rem;
  text-align: center;
}

.contact > h1 {
  font-size: 5rem;
  font-weight: 400;
}

.contact > p {
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

.contact__email {
  margin-bottom: 2rem;
  color: var(--primary-color-light);
}

.contact__socials {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.contact__socials > a {
  text-decoration: none;
  color: var(--primary-color-text);
}

.contact__icon {
  font-size: 7rem !important;
}
