.hero {
  height: 100vh;
  background-image: url("../images/hero-background.svg");
  background-position: top right;
  background-size: 180vh;
  background-repeat: no-repeat;
  position: relative;
}

.hero__logo {
  position: absolute;
  top: 1.5rem;
  left: 5rem;
}

.hero__logo > img {
  width: 4rem;
  height: 4rem;
}

.hero__navbar {
  top: 3rem;
  left: 14vw;
  position: absolute;
}

.hero__navbar > ul {
  margin-bottom: 1rem;
}

.hero__navbar > ul > li {
  display: inline-block;
  width: auto;
  margin-right: 3rem;
}

.hero__navbar > ul > li:last-child > a {
  color: var(--primary-color-light);
}

.hero__navbar > ul > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--light-text);
  font-weight: 500;
}

.nav__burgerBtn {
  display: none;
}

.hero__text {
  position: absolute;
  top: 30vh;
  left: 14vw;
}

.hero__title-top,
.hero__title-bottom {
  font-size: 5rem;
  line-height: 120%;
}

.hero__slogan {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero__slogan > p {
  font-size: 1.5rem;
}

.hero__slogan > p > span:last-child {
  color: var(--primary-color-light);
}

.hero__buttons {
  margin-top: 5rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.hero__buttons > a {
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.hero__buttons > a:hover {
  transform: scale(1.04) translateY(-2px);
  box-shadow: 0 14px 28px rgba(73, 130, 252, 0.3), 0 10px 10px rgba(0, 0, 0, 0) !important;
}

.hero__buttons > a:first-child {
  color: var(--primary-color-light);
  border: 2px solid var(--primary-color-light);
  box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
}

.hero__buttons > a:last-child {
  box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  border: none;
  background-image: linear-gradient(to bottom right, #47b5ff, #5f48ff);
  color: white;
}

.hero__arrow {
  position: absolute;
  left: 14vw;
  bottom: 7rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.hero__arrow > a > img {
  height: 3rem;
  width: 3rem;
}

.hero__arrow > a {
  position: relative;
  animation: bounce 2s infinite;
}

.hero__arrow > a > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: hsl(243, 80%, 62%);
}

.hero__navbar > ul > li > a {
  display: inline-block;
  position: relative;
}

.hero__navbar > ul > li > a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-color-light);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.hero__navbar > ul > li > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.rotate-text:before {
  content: "";
  animation: animate-text 5s infinite;
}

.nav__mobile {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 100;
  transform: scale(0);
  transform-origin: top right;
}

.nav__mobile > ul {
  width: 100%;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  position: absolute;
}

.nav__mobile > ul > li {
  margin-bottom: 2rem;
  opacity: 0;
}

.nav__mobile > ul > li > a {
  text-align: start;
  text-decoration: none;
  color: black;
  font-size: calc(0.8rem + 2vw);
}

.nav__mobile > ul > li:last-child > a {
  color: var(--primary-color-light);
}

.nav__exit {
  position: absolute;
  right: 5vw;
  top: 5vw;
  font-size: 35px !important;
  color: var(--primary-color-light);
}

@keyframes dropdown-link-appear {
  0% {
    transform: translateX(20vw);
    opacity: 0;
  }
  40% {
    transform: translateX(-7vw);
    opacity: 1;
  }
  100% {
    transform: translateX(0vw);
    opacity: 1;
  }
}

@keyframes dropdown-container-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes dropdown-container-disappear {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate-text {
  0% {
    content: "creative coder";
  }
  50% {
    content: "challenge seeker";
  }
  100% {
    content: "creative coder";
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media only screen and (max-width: 1250px) and (orientation: landscape) {
  .hero {
    height: 800px;
  }

  .hero__arrow {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .hero {
    background-position: top 0 right 45%;
  }

  .hero__title-top,
  .hero__title-bottom {
    font-size: calc(1rem + 5vw);
  }

  .hero__slogan > p {
    font-size: calc(0.5rem + 2vw);
  }

  .hero__text {
    left: 10vw;
  }

  .hero__logo {
    top: 1rem;
    left: 1.7vw;
    position: fixed;
  }

  .hero__logo > img {
    height: 3.5rem;
    width: 3.5rem;
  }

  .hero__navbar {
    left: 10vw;
    top: 2.5rem;
    position: fixed;
    z-index: 1;
  }

  .hero__navbar > ul > li {
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 750px) {
  .hero {
    background-position: top 5rem center;
    background-size: 200%;
  }

  .hero__buttons {
    width: 46vw;
  }

  .hero__logo {
    top: 0.5rem;
    z-index: 5;
  }

  .hero__navbar {
    width: 100%;
    top: 0;
    height: 4rem;
    left: 0;
    background-color: white;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  }

  .nav__burgerBtn {
    display: initial;
    position: absolute;
    right: 3vw;
    top: 1rem;
    z-index: 5;
  }

  .burger__icon {
    color: #5575ff !important;
  }

  .hero__logo > img {
    height: 3rem;
    width: 3rem;
  }

  .hero__buttons > a {
    width: 21vw;
    font-size: 3vw;
  }

  .hero__arrow {
    bottom: 4rem;
    left: 0;
    width: 100%;
  }

  .hero__arrow > a > img {
    height: 2rem;
    width: 2rem;
  }

  .hero__navbar > ul {
    display: none;
  }
}
