.projects {
  margin-top: 7rem;
  padding-top: 2rem;
  text-align: center;
}

.projects > h1 {
  font-size: 5rem;
  font-weight: 400;
  color: var(--text);
}

.projects__container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  color: var(--text);
}

.projects__card {
  width: 100%;
  height: 100%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0), 0 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: var(--card-bg);
  transition: 0.4s;
}

.projects__card:hover {
  transform: scale(1.04) translateY(-2px);
}

.projects__card > img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.projects__card-title {
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.projects__card-text {
  width: 80%;
  margin: 1rem auto;
  font-size: 1.4rem;
  opacity: 0.7;
  line-height: 1.5;
}

.built-with {
  color: var(--primary-color-light);
  opacity: 1;
}

.projects__card-buttons {
  padding-bottom: 2rem;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
}

.projects__card-buttons > a {
  width: 9rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 2rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.projects__card-buttons > a:hover {
  transform: scale(1.04);
}

.projects__card-buttons > a:first-child {
  color: var(--primary-color-light);
  border: 2px solid var(--primary-color-light);
  box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
}

.projects__card-buttons > a:last-child {
  box-shadow: 0 7px 15px rgba(73, 130, 252, 0.15), 0 7px 7px rgba(0, 0, 0, 0);
  border: none;
  background-image: linear-gradient(to bottom right, #47b5ff, #5f48ff);
  color: white;
}

.projects__wip-card {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0), 0 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 0 auto;
  width: 700px;
  height: 550px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--text);
  background: var(--card-bg);
  transition: 0.4s;
}

.projects__wip-card > img {
  width: 50%;
  object-fit: contain;
}

.wip-title {
  margin-top: 2rem;
  font-size: 2rem;
}

.projects__wip-card > p:last-child {
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
  .projects__container {
    grid-template-columns: 1fr;
  }

  .projects__wip-card {
    width: 90%;
    height: auto;
    padding: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .projects {
    margin-top: 2rem;
  }

  .projects__container {
    width: 90%;
  }
  .projects > h1 {
    font-size: calc(1rem + 6vw);
  }

  .projects__card-title {
    font-size: calc(1rem + 2vw);
    padding-top: 1rem;
  }

  .projects__card-text {
    font-size: calc(0.5rem + 2vw);
    margin-bottom: 0;
  }

  .projects__card-buttons {
    margin-top: 0;
  }

  .card-btn {
    font-size: calc(0.5rem + 2vw) !important;
    width: 40% !important;
  }

  .wip-title {
    font-size: calc(1rem + 2vw);
  }

  .projects__wip-card > p:last-child {
    font-size: calc(0.7rem + 2vw);
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .projects__wip-card {
    max-width: 80%;
  }
}
